# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [8]:
# imports and load data
import pandas as pd
import numpy as np
from datetime import datetime
% matplotlib inline

df_store = pd.read_csv('store_data.csv')

In [2]:
# explore data
df_store.info()

df_store.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [3]:
# total sales for the last month
#first make new column with total values for all stores on that date
df_store['total'] = df_store['storeA'] + df_store['storeB'] + df_store['storeC'] + df_store['storeD'] +df_store['storeE'] 
#get total sales
total_sales = sum(df_store['total'])
print('Total sales is {}'.format(total_sales))
list_store_names = ['storeA', 'storeB', 'storeC', 'storeD', 'storeE']

list_total = []
sum_A = sum(df_store['storeA'])
sum_B = sum(df_store['storeB'])
sum_C = sum(df_store['storeC'])
sum_D = sum(df_store['storeD'])
sum_E = sum(df_store['storeE'])
list_total = [sum_A, sum_B, sum_C, sum_D, sum_E]
max_tot = max(list_total)
#compute max value and return position
pos = list_total.index(max_tot)
print("Max total sales is {}".format(max_tot))
print("store with max total sales is {}".format(list_store_names[pos]))

Total sales is 5115145
Max total sales is 1351342
store with max total sales is storeB

In [44]:
#calculate sales for final month

#find time range
#df_store[180:]   #inspect last months to determine span

df_span_last = df_store[(df_store['week'] > '2018-02-04') & (df_store['week'] < '2018-02-25')]
#print(df_span_last) #checkpoint
a3 = sum(df_span_last['storeA'])
b3 = sum(df_span_last['storeB'])
c3 = sum(df_span_last['storeC'])
d3 = sum(df_span_last['storeD'])
e3 = sum(df_span_last['storeE'])
last = [a3,b3,c3,d3,e3]
max_last = max(last)
#print(last, max_last) #checkpoint
store_max_last = list_store_names[last.index(max_last)]
print('Store with max sales in last month is {}'.format(store_max_last))

Store with max sales in last month is storeA

In [4]:
# average sales
avg_A = df_store['storeA'].mean()
avg_B = df_store['storeB'].mean()
avg_C = df_store['storeC'].mean()
avg_D = df_store['storeD'].mean()
avg_E = df_store['storeE'].mean()

#compute store with highest average sales using lists
list_avg = [avg_A, avg_B, avg_C, avg_D, avg_E]
list_store_names = ['storeA', 'storeB', 'storeC', 'storeD', 'storeE']
#print(list_avg) #check-point to verify contents as five averages

max_avg = max(list_avg)
#compute max value and return position
pos = list_avg.index(max_avg)
#use the position value to select store
print("store with highest average sales [using lists] is {}".format(list_store_names[pos]))

#compute store with highest average sales using dicts
dict_avg = {'storeA' : avg_A, 'storeB' : avg_B, 'storeC' : avg_C, 
            'storeD' : avg_D, 'storeE' : avg_E}
dict_max = max(dict_avg, key=dict_avg.get)
print("store with highest average sales [using dicts] is {}".format(dict_max))

store with highest average sales [using lists] is storeB
store with highest average sales [using dicts] is storeB

In [5]:
# sales on march 13, 2016

# calculate sales on week of March 13th, 2016
sale = df_store.loc[df_store['week'] == '2016-03-13']
print(sale)   #checkpoint to verify record returned

del sale['week']
del sale['total']
print(sale)

          week  storeA  storeB  storeC  storeD  storeE  total
97  2016-03-13    2054    1390    5112    5513    2536  16605
    storeA  storeB  storeC  storeD  storeE
97    2054    1390    5112    5513    2536

In [6]:
# worst week for store C
sale_storeC = []
sale_storeC = df_store['storeC']
date_storeC = df_store['week']

minC = min(sale_storeC)


print(df_store.loc[df_store['storeC'] == minC])

         week  storeA  storeB  storeC  storeD  storeE  total
9  2014-07-06    8567    3228     927    3277     168  16167

In [39]:
# total sales during most recent 3 month period

#find time range
dates_ranges = df_store['week']
print(min(dates_ranges))
print(max(dates_ranges))
#df_store[180:]   #inspect last months to determine span

#df_span = df_store[(df_store['week'] > '2017-09-03') & (df_store['week'] < '2017-12-17')]
#print(df_span)


df_span_last3 = df_store[(df_store['week'] > '2017-12-03') & (df_store['week'] < '2018-02-25')]
#print(df_span_last3) #checkpoint
a3 = sum(df_span_last3['storeA'])
b3 = sum(df_span_last3['storeB'])
c3 = sum(df_span_last3['storeC'])
d3 = sum(df_span_last3['storeD'])
e3 = sum(df_span_last3['storeE'])
last3 = [a3,b3,c3,d3,e3]
max_last3 = max(last3)
#print(last3, max_last3) #checkpoint
store_max_last3 = list_store_names[last3.index(max_last3)]
print('Store with max sales in last 3 month period is {}'.format(store_max_last3))


#df_new=df_store[df_store['week'] == '2018-02-25']
#print(df_new)

2014-05-04
2018-02-25
[74852, 68640, 56848, 63367, 24636] 74852
Store with max sales in last 3 month period is storeA