# Filter, Drop Nulls, Dedupe
Use `data_08.csv` and `data_18.csv`

In [1]:
import pandas as pd

In [2]:
# load datasets

df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [3]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [4]:
# view dimensions of dataset
df_18.shape

(1611, 14)

In [9]:
df_08.head(25)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
5,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,FA,midsize car,6,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes
8,ACURA TL,3.5,(6 cyl),Man-6,2WD,Gasoline,CA,midsize car,7,18,27,21,6,yes
9,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,FA,midsize car,6,18,26,21,6,no
10,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,FA,midsize car,6,17,26,20,6,no
11,ACURA TL,3.5,(6 cyl),Man-6,2WD,Gasoline,FA,midsize car,6,18,27,21,6,no
12,ACURA TSX,2.4,(4 cyl),Man-6,2WD,Gasoline,FA,small car,6,19,28,22,6,no
13,ACURA TSX,2.4,(4 cyl),Auto-S5,2WD,Gasoline,FA,small car,6,20,28,23,7,yes
14,ACURA TSX,2.4,(4 cyl),Man-6,2WD,Gasoline,CA,small car,6,19,28,22,6,no
15,ACURA TSX,2.4,(4 cyl),Auto-S5,2WD,Gasoline,CA,small car,6,20,28,23,7,yes
16,ASTON MARTIN DB9,5.9,(12 cyl),Man-6,2WD,Gasoline,FA,small car,6,10,16,12,0,no
17,ASTON MARTIN DB9,5.9,(12 cyl),Auto-S6,2WD,Gasoline,FA,small car,6,11,18,13,1,no
18,ASTON MARTIN DB9,5.9,(12 cyl),Man-6,2WD,Gasoline,CA,small car,6,10,16,12,0,no
19,ASTON MARTIN DB9,5.9,(12 cyl),Auto-S6,2WD,Gasoline,CA,small car,6,11,18,13,1,no
20,ASTON MARTIN DB9 Volante,5.9,(12 cyl),Man-6,2WD,Gasoline,FA,small car,6,10,16,12,0,no
21,ASTON MARTIN DB9 Volante,5.9,(12 cyl),Auto-S6,2WD,Gasoline,FA,small car,6,11,17,13,1,no
22,ASTON MARTIN DB9 Volante,5.9,(12 cyl),Man-6,2WD,Gasoline,CA,small car,6,10,16,12,0,no
23,ASTON MARTIN DB9 Volante,5.9,(12 cyl),Auto-S6,2WD,Gasoline,CA,small car,6,11,17,13,1,no
24,ASTON MARTIN V8 Vantage,4.3,(8 cyl),Man-6,2WD,Gasoline,FA,small car,6,12,19,15,3,no

## Filter by Certification Region

In [12]:
# filter datasets for rows following California standards
df_08 = df_08[df_08['cert_region'] == 'CA']
df_18 = df_18[df_18['cert_region'] == 'CA']

In [13]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [14]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [15]:
# drop certification region columns form both datasets
df_08.drop('cert_region', axis=1, inplace=True)
df_18.drop('cert_region', axis=1, inplace=True)

In [16]:
df_08.shape

(1084, 13)

In [17]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [18]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [19]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [22]:
# drop rows with any null values in both datasets
df_08.dropna(axis=0, inplace=True)
df_18.dropna(axis=0, inplace=True)

In [23]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [24]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data

In [25]:
# print number of duplicates in 2008 and 2018 datasets
#2008 dataset
sum(df_08.duplicated())

23

In [26]:
#2018 datasets
sum(df_18.duplicated())

3

In [31]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [32]:
# print number of duplicates again to confirm dedupe - should both be 0
sum(df_08.duplicated())
sum(df_18.duplicated())

0

In [33]:
# save progress for the next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)